name: Publish NuGet Package

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build --no-restore --configuration Release

      - name: Run tests
        run: dotnet test --no-build --configuration Release --verbosity normal

  publish:
    needs: test  # Only publish if tests pass
    runs-on: ubuntu-latest
    if: success()  # Only run if test job succeeds

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore Dom.Mediator/Dom.Mediator.csproj

      - name: Build
        run: dotnet build Dom.Mediator/Dom.Mediator.csproj -c Release --no-restore

      - name: Copy README and LICENSE into package folder
        run: |
            cp README.md Dom.Mediator/README.md
            cp LICENSE Dom.Mediator/LICENSE

      - name: Pack NuGet package
        run: dotnet pack Dom.Mediator/Dom.Mediator.csproj -c Release --no-build --output ./nupkg

      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
