name: Publish NuGet Package

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Copy README and LICENSE to root
        run: |
          cp Dom.Mediator/README.md README.md
          cp Dom.Mediator/LICENSE LICENSE

      - name: Restore dependencies
        run: dotnet restore Dom.Mediator/PureMediator.csproj

      - name: Build
        run: dotnet build Dom.Mediator/PureMediator.csproj -c Release --no-restore

      - name: Pack NuGet package
        run: dotnet pack Dom.Mediator/PureMediator.csproj -c Release --no-build --output ./nupkg

      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
